@model BookStore.WebUI.Models.BookListViewModel

@{
    ViewBag.Title = "List";
}

<h2>Book List</h2>
@*@Model.Count()*@

@foreach (var book in Model.Books)
{
    <div>
        <h3><strong> @book.Title</strong> <span class="pull-right label label-primary">@book.Price.ToString("C")</span></h3>

        <span class="lead">@book.Description</span>


    </div>

}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { pageno = x }))
</div>