@using BookStore.Domain.Entities
@model IEnumerable<Book>

@{
    ViewBag.Title = "List";
}

<h2>Book List</h2>
@Model.Count()

@foreach (var book in Model)
{
    <h3>@book.Title</h3>
    <h2>@book.Description</h2>
    <h2>@book.Price.ToString("C")</h2>
}

