@model BookStore.WebUI.Models.BookListViewModel

@{
    ViewBag.Title = "List";
}

<h2>Book List</h2>
@*@Model.Count()*@

@foreach (var book in Model.Books)
{
    @Html.Partial("BookSummary", book)

}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", "Book", new { pageno = x, specialization = Model.CurrentSpecialization }))
</div>